* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo img {
  width: 200px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  padding: 5px 8px;
  transition: 0.2s;
}
a.active:hover {
  border-bottom: 3px solid #222d46;
}
a.req {
  background: #fdc12f;
  border-radius: 10px;
  padding: 15px 15px;
  font-weight: 500;
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
}
a.req:hover {
  background: #222d46;
  color: white;
}
a {
  text-decoration: none;
  color: #15262e;
}
p {
  color: #15262e;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 2px solid #f2f1f0;
}
#toggle {
  display: none;
}

/* menu btn */
:root {
  --animation-curve: cubic-bezier(1, 0, 0, 1);
}
label.checkbtn {
  display: none;
  float: right;
  /* margin-right: 10px; */
  width: 48px;
  height: 8px;
  border-radius: 10px;
  background-color: black;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}
label.checkbtn::before,
label.checkbtn::after {
  content: " ";
  float: right;
  line-height: 100px;
  margin-right: 40px;
  width: 48px;
  height: 8px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  display: block;
  transition: 0.5s var(--animation-curve);
}
label.checkbtn::before {
  top: 15px;
  left: 0%;
  transform-origin: right bottom;
  transform: rotatez(0deg);
}
label.checkbtn::after {
  bottom: 15px;
  left: 0%;
  transform-origin: right top;
  transform: rotatez(0deg);
}
#toggle:checked ~ label.checkbtn::before {
  background-color: #fdc12f;
  transform: rotatez(42deg);
}
#toggle:checked ~ label.checkbtn::after {
  background-color: #fdc12f;
  transform: rotatez(-42deg);
}
#toggle:checked ~ label.checkbtn {
  background-color: white;
}
#toggle ~ label.checkbtn {
  transition: 0.5s var(--animation-curve);
}
/* submit btn */
label.submitbtn {
  background: #fdc12f;
  border-radius: 10px;
  padding: 15px 15px;
  font-weight: 500;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  transition: 0.6s;
  z-index: 100;
}
label.submitbtn:hover {
  background: #222d46;
  color: white;
}
.contact-form {
  margin: 50px auto;
  padding: 100px;
  width: 350px;
  text-align: center;
}
.contact-form input {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}
.contact-form textarea {
  width: 90%;
  margin: 5px auto;
  padding: 10px;
  height: 80px;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 50px;
  font-size: 16px;
  color: #f0f1f2;
  pointer-event: none;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  border-bottom: 1px solid #f0f1f2;
  background: transparent;
  width: 90%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #f0f1f2;
}
.input-container textarea {
  border: 0;
  border-bottom: 1px solid #f0f1f2;
  background: transparent;
  width: 90%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #f0f1f2;
}
.input-container input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}
.input-container textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e74c3c;
}
.input-container textarea:focus ~ label,
.input-container textarea:valid ~ label {
  top: -12px;
  font-size: 12px;
}
.submit-btn {
  cursor: pointer;
  width: 180px !important;
  margin-left: 50px !important;
  border: 1px solid #f0f1f2;
  border-radius: 10px;
  background: #222d46;
  color: #f0f1f2;
  font-size: 14px;
}
.closebtn {
  cursor: pointer;
  width: 180px !important;
  margin-left: 550px !important;
  color: #f0f1f2;
  font-size: 40px;
}
.g-recaptcha {
  margin: 10px 10px;
  float: center;
}
.status {
  font-size: 14px;
  color: white;
  padding: 15px;
}
.status span {
  color: red;
}
::-webkit-scrollbar {
  width: 0;
}
#submit {
  display: none;
}
#submit:checked ~ .contact-form {
  right: 0;
  display: block;
  transition: all 0.5s;
}
.contact-form {
  /* display: none; */
  z-index: 20;
  position: absolute;
  width: 70%;
  height: 50%;
  background: #222d46;
  right: -100%;
  top: 66px;
  text-align: center;
  transition: all 0.5s;
  border-radius: 0 0 0 30px;
}

.row {
  max-width: 1080;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* news */
.news {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.news h1 {
  max-width: 1300px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 0.84em;
}
.news p{
    margin-bottom: 10px;
    margin-top: 10px;
}
.news img{
    width: 50%;
}

/* footer */
.footer {
  padding: 60px 0;
  font-size: 18px;
  font-weight: 500;
  background: radial-gradient(
      ellipse at top,
      hsla(0, 50%, 68%, 0.15) 0,
      hsla(0, 50%, 68%, 0) 100%
    ),
    #222d46;
}
.footer h3 {
  margin-bottom: 20px;
  color: white;
}
.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
  color: white;
}
.footer-col-1 {
  flex-basis: 20%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 70px;
  margin-bottom: 20px;
}
.footer-col-3 {
  flex-basis: 20%;
}
.footer-col-3 {
  text-align: right;
}
.footer li {
  list-style-type: none;
  padding-bottom: 10px;
}
.footer li a {
  color: white;
}

/* media запросы */
@media (max-width: 980px) {
  /* menu */
  label.checkbtn {
    display: block;
  }
  .contact-form {
    display: none;
  }
  .submitbtn{
    display: none;
  }
  ul {
    z-index: 15;
    position: absolute;
    width: 100%;
    height: 85%;
    background: #222d46;
    top: 115px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav ul li a:hover,
  a.active {
    background: none;
    color: white;
  }
  #toggle:checked ~ ul {
    left: 0;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    text-align: center;
  }
}
